---
const projects = [
  {
    id: 9,
    src: "/images/music-app.jpg",
    title: "Music App",
    link: "https://playerlab.netlify.app/",
    desc: "Esta aplicaci贸n permite reproducir canciones s贸lo durante 30 segundos y mostrar las playlist y canciones m谩s escuchadas. Se utiliz贸 la API de spotify para obtener los datos de las canciones y playlists. Se desarroll贸 con React y Tailwind CSS.",
  },
  {
    id: 1,
    src: "/images/ropavejero.webp",
    title: "carrito de compras",
    link: "https://ropavejero.vercel.app/",
    desc: "Carrito de compras utilizando tecnolog铆as como Nextjs, Tailwind CSS e IA para im谩genes. Estas herramientas me permitieron crear una interfaz intuitiva y atractiva, con estilos responsivos y funcionalidades din谩micas.",
  },
  {
    id: 2,
    src: "/images/passport.webp",
    title: "Pasaporte de cursos",
    link: "https://passportcourse.netlify.app/",
    desc: "Esta app web permite administrar los cursos que toman los empleados de la empresa. Los empleados pueden ver el estado de sus cursos con sus respectivos accesos y ver los cursos que tienen pendientes de aprobaci贸n. Los administradores tienen control total del sistema y pueden agregar, eliminar y modificar cursos.",
  },
  {
    id: 3,
    src: "/images/multistep.png",
    title: "Formularios",
    link: "https://multistep-dc.netlify.app/",
    desc: "Este proyecto consiste en desarrollar formularios interactivos en React utilizando la biblioteca de estilos Tailwind CSS. Los formularios contar谩n con validaciones para asegurar la precisi贸n de los datos ingresados por el usuario y permitir谩n avanzar al siguiente paso solo cuando se cumplan dichas validaciones.",
  },
  {
    id: 6,
    src: "/images/tip-calc.png",
    title: "propinas",
    link: "https://tip-calculator-sebasdc.netlify.app/",
    desc: "Calculadora de propinas utilizando JavaScript, HTML y CSS. Esta aplicaci贸n permite calcular la propina a dejar en funci贸n del monto de la cuenta y el porcentaje de propina deseado.",
  },
  {
    id: 8,
    src: "/images/filter-job.png",
    title: "Filtro por tags",
    link: "https://filterjobs-dc.netlify.app/",
    desc: "En este proyecto, se desarroll贸 una aplicaci贸n en React que permite filtrar una lista de trabajos en funci贸n de los tags seleccionados por el usuario. La aplicaci贸n mostrar谩 una lista inicial de trabajos y proporcionar谩 opciones de tags para que el usuario pueda filtrarlos seg煤n sus intereses.",
  },
];
---

<section class="space-y-8 my-10 min-w-80" id="projects" aria-label="Projects">
  <div class="text-white flex justify-center items-center gap-2">
    <p class="text-3xl"><span aria-label="Projects"></span></p>
    <h1 class="text-3xl uppercase font-bold text-center">Proyectos</h1>
  </div>
  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 p-4 mx-auto lg:w-3/5 lg:max-w-max w-full"
  >
    {
      projects.map((project) => (
        <article class=" p-2 text-white h-72 bg-gray-900 rounded-lg flex flex-col justify-between">
          <a
            href={project.link}
            class="relative h-40 hover:scale-[0.98] overflow-hidden transition-all duration-300"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src={project.src}
              alt={project.title}
              class="h-full w-full object-cover"
            />
            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-white opacity-0 transition-opacity duration-300 hover:opacity-100">
              <span class="text-base">Ver m谩s</span>
            </div>
          </a>
          <div class="p-2 my-2">
            <h2 class="uppercase">{project.title}</h2>
            <p class="text-sm text-gray-400 truncate text-wrap h-16">
              {project.desc}
            </p>
          </div>
        </article>
      ))
    }
  </div>
</section>
